<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action= "/cats/:id" method='post'>
        <p>Animal: <input type='text' id='name' name='name'></p>
        <p>Myth: <textarea rows="4" cols="50" name='myth'></textarea></p>
        <input type="submit" value="Add my quote!"><br>
        <a href="/cats">Cancel</a>
</body>
</html>
